body{
    background-color: lightslategray;
}

header{
    text-align: center;
}

h1{ 
    font-size: 2rem;
}

h1.red{
    color: red;
}

img{
    width: 30%;
}

img:hover{
    width: 50%;
    transform: rotate(45deg);
    transition: 2s;
}

span{
    font-size: 3em;
}
/*clases*/
.green{
    /*color: green;*/
    background-color: green;
}

/*id no se recomienda*/
#spanapi{
    color: white;
}

/*agrupacion de selectores con ,*/
h1,.blue,#blue{
    color: blue;
}

/*caracteristica especifica*/
ul li span{
    font-size: 2em;
    color: aqua;
}

.green label{
    color: brown;
}

.brown .importante{
    color: blueviolet;
}